<section id="modal">
    <div id="card">
      <div id="headPopup">
        <h2>Confirmação</h2>
        <a href="/" id="closePopup"><i class="bi bi-x-lg"></i></a>
      </div>
      <hr />
      <p>Deseja realmente apagar a tarefa: <%= task.task %>?</p>
      <div id="btns">
        <a id="btnNot" href="/">Não</a>
        <a id="btnYes" href="/deleteOne/<%= task._id %>">Sim</a>
      </div>
    </div>
  </section>