@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
  --littleBlack: #00000081;
  --Black: #000000cb;
  --littleWhite: #dadada;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

html {
  /*Tive que separar o html pois html,body{} bugava a barra de rolagem*/
  height: 100%;
  width: 100%;
}
body {
  /*Cada um trilhou seu caminho*/
  background: linear-gradient(to bottom, #5a4a9c, #87ceeb);
  color: var(--littleWhite);
}

header {
  background-color: var(--littleBlack);
  padding: 3rem; /*rem para responsividade */
  margin: 0.5rem;
  text-align: center;
}

header h1 {
  padding-bottom: 3rem;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 70%;
  padding: 0.6rem;
  font-size: 1rem;
  background-color: var(--littleBlack);
  color: var(--littleWhite);
}

button {
  padding: 0.6rem;
  width: 20%;
  background-color: var(--littleBlack);
  color: var(--littleWhite);
}

button:hover {
  padding: 0.6rem;
  background-color: var(--littleWhite);
  color: var(--littleBlack);
  transition: all 0.3s ease-in-out;
}

section#tasks {
  margin: 0.5rem;
}
ul {
  list-style: none;
}
ul li {
  position: relative;
  padding: 0 2rem 0 1rem; /* top right bottom left */
  background-color: var(--Black);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.3rem;
}

ul li a {
  text-decoration: none;
  color: var(--littleWhite);
  padding-left: 2rem;
}

ul li span {
  color: var(--littleWhite);
  font-style: italic;
  font-size: 0.8rem;
  padding-left: 1rem;
}
ul li div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
/* Estilos para itens de lista em posições ímpares (zebrado) */
ul li:nth-child(odd) {
  background-color: var(--littleBlack);
}
ul li:hover {
  background: #5a5a5a;
}
#vector a {
  margin-right: 1rem; /* Adicione a margem desejada entre os ícones */
}
a.btnUpdate {
  padding: 0.3rem;
  text-decoration: none;
  color: var(--littleWhite);
  transition: all 0.3 ease-in-out;
}
a.btnDelete {
  padding: 0.3rem;
  text-decoration: none;
  color: var(--littleWhite);
  transition: all 0.3 ease-in-out;
}
.btnUpdate:hover {
  color: green;
}
.btnDelete:hover {
  color: red;
}
section#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000c9;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
div#card {
  width: 30rem;
  position: relative;
  background-color: var(--littleBlack);
}
div#headPopup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
div#card h2 {
  padding: 0.5rem;
}
div#card a#closePopup {
  color: var(--littleWhite);
  text-decoration: none;
  font-size: 1.5rem;
}
div#card a#closePopup:hover {
  color: red;
}
div#card hr {
  width: 90%;
  margin: 0 auto;
  border-color: #5a4a9c;
}
div#card p {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
}

div#btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
div#btns a {
  text-decoration: none;
  padding: 0.5rem;
  width: 7rem;
  text-align: center;
  background-color: var(--littleBlack);
  font-size: 1rem;
}
div#btns a#btnNot {
  color: red;
  border: solid 1px red;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}
div#btns a#btnNot:hover {
  background-color: red;
  color: var(--littleWhite);
}
div#btns a#btnYes {
  color: green;
  border: solid 1px green;
  transition: all 0.3s ease-in-out;
}
div#btns a#btnYes:hover {
  background-color: green;
  color: var(--littleWhite);
}
.message {
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: 1.1rem;
  font-weight: 600;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--littleBlack);
  color: var(--littleWhite);
}
span#close-message {
  font-size: 2rem;
  cursor: pointer;
  transform: 0.3s;
  padding-left: 2rem;
}
span#close-message:hover {
  color: red;
}

ul li.check-true {
  background-color: #27a1aab6;
  color: var(--littleWhite);
  text-decoration: line-through;
}

ul li a.check-true::before {
  content: "";
  position: absolute;
  border: green solid;
  top: 8px;
  left: 16px;
  height: 15px;
  width: 7px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

ul li a.check-false::before {
  content: "";
  position: absolute;
  border: var(--littleWhite) solid;
  top: 10px;
  left: 16px;
  height: 13px;
  width: 13px;
  border-width: 2px;
}
